/* Main Variables */
:root {
    --main-color: #31ccbc;
    --second-color: #2c4755;
    --line-h: 1.6;
    --main-duration: 0.37s;
    --main-padding: 50px;
    --p-color: #888;
    --section-bg: #f6f6f6;
}
/* End Main Variables */

/* Global Rules */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    font-family: "Work Sans", sans-serif;
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 12px;
    background-color: #e3e3e3;
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 10px;
}
.container {
    padding: 0 15px;
    margin: 0 auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* Components */
.special-header {
    color: #e3e3e3;
    font-size: 100px;
    margin: 0;
    text-align: center;
    letter-spacing: -3px;
}
.special-header + p {
    margin: -30px 0 0;
    text-align: center;
    font-size: 20px;
    color: #7f7f7f;
}
@media (max-width: 767px) {
    .special-header {
        font-size: 60px;
    }
    .special-header + p {
        margin-top: -20px;
    }
}
/* End Components */
/* End Global Rules */

/* Header */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    position: relative;
}
.navbar .logo {
    width: 50px;
}
.navbar .links .list-icon {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    width: 30px;
    justify-content: flex-end;
}
.navbar .links .list-icon span {
    width: 100%;
    height: 2px;
    background-color: #000;
}
.navbar .links .list-icon span:not(:last-of-type) {
    margin-bottom: 5px;
}
.navbar .links .list-icon span:nth-child(2) {
    width: 70%;
    transition: width var(--main-duration);
}
/* .navbar .links:hover .list-icon span:nth-child(2) {
    width: 100%;
} */
.navbar .links:hover {
    cursor: pointer;
}
.navbar .links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 5px;
    top: calc(100% + 8px);
    min-width: 200px;
    background-color: #f6f6f6;
    border-radius: 5px;
    z-index: 1;
    display: none;
}
.navbar .links ul::before {
    content: "";
    position: absolute;
    border: 10px solid;
    border-color: transparent transparent #f6f6f6 transparent;
    right: 15px;
    top: -20px;
}
/* .navbar .links:hover ul {
    display: block;
} */
.navbar .links ul li a {
    padding: 15px;
    display: block;
    text-decoration: none;
    color: #555;
    transition: padding var(--main-duration);
}
.navbar .links ul li:not(:last-child) a {
    border-bottom: 1.5px solid #ddd;
}
.navbar .links ul a:hover {
    color: #000;
    padding-left: 25px;
}
.show {
    display: block !important;
}
/* End Header */

/* Landing Section */
.landing {
    background: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 56px);
    position: relative;
}
.landing .head-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 350px;
    max-width: 100%;
}
.landing .head-text h1 {
    margin: 0;
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
}
.landing .head-text p {
    font-size: 20px;
    line-height: var(--line-h);
}
/* End Landing Section */

/* Features */
.features {
    padding: var(--main-padding) 0;
    background-color: var(--section-bg);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.features .container .feat {
    text-align: center;
    padding: 20px;
}
.features .container .feat i {
    color: var(--main-color);
    font-size: 50px;
}
.features .container .feat h3 {
    font-weight: 800;
    font-size: 20px;
    margin: 30px 0;
}
.features .container .feat p {
    font-size: 18px;
    line-height: var(--line-h);
    color: var(--p-color);
}
/* End Features */

/* Services */
.services {
    padding: var(--main-padding) 0;
}
.service-main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 80px;
    gap: 25px;
}
.service-main .service-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.service-main .service-content .service {
    display: flex;
}
@media (max-width: 767px) {
    .service-main .service-content .service {
        flex-direction: column;
        text-align: center;
    }
}
.service-main .service-content .service i {
    font-size: 42px;
    flex-basis: 65px;
    color: var(--main-color);
}
.service-main .service-content .service .info {
    flex: 1;
}
.service-main .service-content .service .info h3 {
    margin: 0 0 20px 0;
}
.service-main .service-content .service .info p {
    color: var(--p-color);
    line-height: var(--line-h);
}
.service-main .image {
    position: relative;
    text-align: center;
}
.service-main .image::after {
    content: "";
    position: absolute;
    width: 30%;
    height: calc(100% + 60px);
    right: 0;
    top: -32px;
    background-color: var(--second-color);
    z-index: -1;
}
.service-main .image img {
    width: 300px;
}
@media (max-width: 1199px) {
    .service-main .image {
        display: none;
    }
    .service-main {
        grid-template-columns: 1fr;
    }
}
/* End Services */

/* Portfolio */
.portfolio {
    padding: var(--main-padding) 0;
    background-color: var(--section-bg);
}
.portfolio .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 80px;
    gap: 30px;
}
.portfolio .content .card {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid var(--main-color);
    overflow: hidden;
}
.portfolio .content .card a {
    text-decoration: none;
}
.portfolio .content .card img {
    max-width: 100%;
    border-radius: 9px 9px 0 0;
    transition: 0.2s;
}
.portfolio .content .card .info {
    padding: 25px 20px;
}
.portfolio .content .card .info h3 {
    margin: 0;
    color: #222;
}
.portfolio .content .card .info p {
    margin: 0;
    color: var(--p-color);
    line-height: var(--line-h);
    margin-top: 18px;
}
.portfolio .content .card:hover img {
    transform: scale(1.12) rotate(4deg);
}
.portfolio .content .card:hover h3 {
    color: var(--main-color);
}
/* End Portfolio */

/* About */
.about {
    padding-top: var(--main-padding);
    padding-bottom: calc(var(--main-padding) + 50px);
}
.about .content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    justify-content: space-between;
}
@media (max-width: 991px) {
    .about .content {
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
    }
}
.about .content .image {
    width: 250px;
    height: 374px;
    margin-left: 30px;
    position: relative;
}
@media (max-width: 991px) {
    .about .content .image {
        margin: 0 auto 40px;
    }
}
.about .content .image img {
    width: 100%;
}

.about .content .image::before {
    content: "";
    position: absolute;
    width: 100px;
    height: calc(100% + 60px);
    top: -30px;
    left: -30px;
    background-color: #e3e3e3;
    z-index: -1;
}
.about .content .image::after {
    top: -30px;
    right: -150px;
    z-index: -1;
    content: "";
    position: absolute;
    width: 120px;
    height: 295px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
}
@media (max-width: 991px) {
    .about .content .image::after,
    .about .content .image::before {
        display: none;
    }
}
.about .content .text {
    flex-basis: calc(100% - 500px);
}
.about .content .text p:first-of-type {
    font-weight: bold;
    margin-bottom: 50px;
    line-height: 1.9;
}
.about .content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}
.about .content .text p:last-of-type {
    color: var(--p-color);
    line-height: 1.9;
}
/* End About */

/* Contacts */
.contact {
    padding: var(--main-padding) 0;
    background-color: var(--section-bg);
}
.contact .content {
    padding: 100px 0 80px 0;
    text-align: center;
}
.contact .content label {
    display: block;
    font-size: 35px;
    font-weight: 800;
    padding-bottom: 15px;
    letter-spacing: -2px;
    color: var(--second-color);
}
.contact .content a[name] {
    display: block;
    text-decoration: none;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
}
@media (max-width: 767px) {
    .contact .content label {
        font-size: 24px;
    }
    .contact .content a[name] {
        font-size: 25px;
    }
}
.contact .content .social {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-top: 18px;
}
.contact .content .social i {
    margin-left: 13px;
    font-size: 20px;
    color: var(--second-color);
}
.contact .content .social a:first-of-type:hover i {
    color: #eb0606;
}
.contact .content .social a:nth-of-type(2):hover i {
    color: #0000ff;
}
.contact .content .social a:nth-of-type(3):hover i {
    color: #06bfc5;
}
.contact .content .social a:last-of-type:hover i {
    color: #0000ff;
}
/* End Contacts */

/* Footer */
footer {
    background-color: var(--second-color);
    text-align: center;
    color: #ddd;
    padding: 30px 0;
    font-size: 18px;
}
footer span {
    color: var(--main-color);
    font-weight: bold;
}
/* End Footer */
